body{
    font-family: Arial, sans-serif;
    background-color: #E6F7FF;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    background-color: #006BB3;
    color: #FFF;
    text-align: center;

}
.header h1{
    font-size: 1.5em;
}
.form-container {
    flex: 1;
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width:600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
form fieldset{
    border: 2px solid #006BB3;
    border-radius:  8px;
    padding: 20px;
    margin-bottom: 20px
}
form fieldset legend{
    display: block;
    font-weight: bold;
    color: #006BB3;
}
input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid #999

}
input[type= "radio"]{
    margin-right: 10px;
    margin-left: 15px;

}
button[type="submit"]{
    background-color: #006BB3;
    color:#fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size:1.2em;
    cursor:pointer;
    transition: backgroud-color 0.3s;
    
}
button[type="submit"]:hover{
    background-color: #4b9fd6;
}

.footer{
    background-color: #006BB3;
    color: #fff;
    text-align: center;
    font-size: 1.2em
}