body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(163, 218, 218);
    line-height: 1.6;
    margin: 0px;
}

header {
    background-color:  cadetblue;
    margin: 0px;
    color: aliceblue;
    padding: 20px ;
    text-align: center;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: cadetblue;
}



.layout-grid {
    
    display:grid;
    grid-template-columns: 1fr  2fr 2fr;
    grid-template-rows: auto 1fr 1fr auto;
    margin-top: 0;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
    gap:20px;
    grid-template-areas: 
        "header header header"
        "sidebar content_1 content_2"
        "sidebar content_3 content_3"
        "footer footer footer";
}
/* Ajustar la ubicación de todos los elementos del diseño usando los grid-area que les corresponden*/
.sidebar{
    
    grid-area: sidebar;
    background-color: cadetblue;
    padding: 15px;
    box-shadow: opx 4px 8px rgba(0, 0, 0. 0.3);
    border-radius: 20px;

}
.sidebar h2{
    color: #ffff
}
.sidebar ul{
    list-style-type: none;
    padding-left: 0;
}
.sidebar ul li{
    margin-bottom: 10px;

}
.sidebar ul li a{
    text-decoration: none;
    color:#fff9;
    transition: color 0.3s;
}
.sidebar ul li a:hover {
    color: #fff
}
.content_1{
    grid-area: content_1
}
.content_2{
    grid-area: content_2
}
.content_3{

    grid-area: content_3
}

.content_1, .content_2, .content_3 {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    padding-top: 10px;
    
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-width: 768px){
    .layout-grid{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "sidebar"
            "content_1"
            "content_2"
            "content_3"
            "fotter";
    }
}