body{
    background-color: #eee;
    font-family: Arial,sans-serif;
    color: #333;
    text-align: center;
    padding: 20px;
}
.container{
    width: 40%;
    margin: 20px auto;
}
#number1, #number2{
    padding: 20px;
    width: 50%;
    margin: 20px;
    margin-bottom: 20px;
}
#addButton{
    padding: 10px 15px;
    width: 25%;
    background-color: #448;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;

}
#resultText{
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #448;
}